body{
	background-image: url(背景.png); 
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}

.topbar{
    background-color:#429eab;

}

.adjustsize{
    height:25px;
    width: 25px;
}