html{
        overflow-x: hidden;
        overflow-y: scroll;
}

body{
    
    overflow-x: hidden;
    overflow-y: hidden;
	/*background-image: url(背景.png);*/
	background-repeat:no-repeat;
	overflow :clip;
    background-color: #AED6D9;
    position : relative;
    margin: 0; width: 100%;
}

.topbar{
    background-color:#429eab;
    color: #F5F3E7;
    font-weight:bold;
}

.adjustsize{
    height:25px;
    width: 25px;
}