.intro{
  color: #28424D;
  font-size: 3vw;
  position:relative;
  font-family: "meiryo","HiraKakuProN-W3","ヒラギノ明朝 ProN W3",sans-serif;
  display :block;
  text-align:right;
  padding:3% 3% 0 0;
}

.miniintro{
  color: #F5F3E7;
  font-size: 2vw;
  font-weight: 300;
  position:relative;
  font-family: "meiryo","HiraKakuProN-W3","ヒラギノ明朝 ProN W3",sans-serif;
  display :block;
  text-align:center;
  padding:0 5% 0 0;
  margin-bottom: 3%;
}

.adjust{
  display: inline-block;
  filter: sepia(80%);
  text-align: center; 
}

.adjust1{
  height: auto;
  width: 15%;
  padding:0 0 0 0;
}

.adjust2{
  height: auto;
  width: 20%;
  padding:0 0 0 0;
}

.adjust3{
  height: auto;
  width: 10%;
  padding:0 0 0 0;
}

.adjust4{
  height: auto;
  width: 10%;
  padding:0 0 0 0;
}

.adjust5{
  height: auto;
  width: 14%;
  padding:0 0 0 0;
}