html1 {
    font-size :3vw;
    padding:20% 20%;
}

html2 {
  font-size :3vw;
  padding:20% 20%;
}

html3 {
  font-size :3vw;
  padding:20% 20%;
}

html4 {
  font-size :3vw;
  padding:20% 20%;
}

html5 {
  font-size :3vw;
  padding:20% 20%;
}

.answer {
  display: inline-block;
  padding: 10% 10%;
  font-size: 3vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #F56E51;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.answer:hover {background-color: #F56E51}

.answer:active {
  background-color: #F56E51;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

.question {
  background-color: #F5F3E7;
  border-radius: 15px;
  text-align:center;
}