.resultsheet{
    font-size: 4vw;
    font-family: "meiryo","HiraKakuProN-W3","ヒラギノ明朝 ProN W3",sans-serif;
    display :none;
    text-align: center;
    background-color:#e31837;
    left:0px;
    top:0px;
    z-index:20;
    width:100%;	
    padding-top: 5vw;
    margin-bottom:5vw;
    box-sizing : border-box;
}

.iteminfo{
    padding-top:2vw;
    padding-bottom:2vw;
    width:100%;
    background-color:white;
    text-align: center;
    display:block;
}

.beans{
    padding-top:2vw;
    padding-bottom:2vw;
    width:100%;
    background-color:black;
    text-align: center;
    color:white;
    color:rgb(148, 148, 148);
}

#bold{
    Font-family:"Times";
    font-size:5vw;
    color:white;
    font-weight:bold;
}

#normal{
    Font-family:"游明朝";
    font-size:3vw;
    color:rgb(176, 176, 176);
    display:inline;
}

#critical{
    Font-family:"游明朝";
    font-size:9vw;
    color:#e31837;
    display:inline;
}

#small{
    Font-family:"游明朝";
    font-size:1vw;
}

.character{
    display :block;
    margin-left: auto;
    margin-right: auto;
    background-color:#F5F3E7;
    border-radius:30vw;
    width:60vw;
    height:60vw;
    text-align:center;
}

.resize{
    height:100%;
    width:auto;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.charactername{
    font-size:large;
    font-family: "meiryo","HiraKakuProN-W3","ヒラギノ明朝 ProN W3",sans-serif;
    text-decoration-color:black;
    text-decoration-style: solid;
}

#crbtinfo{
    padding-top:2vw;
    padding-bottom:2vw;
    width:100%;
    font-weight:bold;
    font-size:2vw;
    text-align: right;
    display:block;
    text-align:right;
}