.result{
    font-size: 3vw;
    font-family: "meiryo","HiraKakuProN-W3","ヒラギノ明朝 ProN W3",sans-serif;
    display :block;
    width:100%;
    margin:2%;
    text-align: center;
    border-radius:10%;
    background-color:#e31837;
    padding:5%;
}

.character{
    display :block;
    
    margin-left: auto;
    margin-right: auto;
    background-color:#F5F3E7;
    border-radius:25vw;
    width:50vw;
    height:50vw;
    text-align:center;
}

.resize{
    height:100%;
    width:auto;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.charactername{
    font-size:large;
    font-family: "meiryo","HiraKakuProN-W3","ヒラギノ明朝 ProN W3",sans-serif;
    text-decoration-color:black;
    text-decoration-style: solid;
}