.startanalyz{
  display: block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #429eab;
  border: none;
  border-radius: 15px;
  width: 50%;
  font-size:50px;
  text-align:center;
  left:25%;
}

.analyz{
  text-align:center;
}