.startanalyz{
  display: block;
  padding: 15px 25px;
  font-size: 5vw;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #429eab;
  border: none;
  border-radius: 15px;
  width: 50%;
  font-size:50px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;

}

.analyz{
  text-align:center;
}