.title{ 
  color: #F56E51;
  Font-size: 100px;
  font-weight:bold;
  font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  display :inline-block;
}

.strokeme {
    color: #F56E51;
    display:inline-block;
    font-weight:bold;
    font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    Font-size: 100px;
    position:relative;
}

.strokemechild{
    color:white;
    position:absolute;
    left :0px;
    top:0px;
    Font-size: 100px;
    font-weight:normal;
}

