.title{ 
  color: #F56E51;
  Font-size: 100px;
  font-weight:bold;
  font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  display :inline-block;
  animation-name: shadowing;
  animation-duration:1s;
  animation-fill-mode:forwards; 
  animation-delay:1s;
  opacity: 0;
}

@keyframes shadowing {
    from{
        opacity : 0;
        transform:translateY(100px)
    }
    to{
        opacity : 1;
        transform:translateY(0);
    }
}

.title2{ 
    color: #F56E51;
    Font-size: 100px;
    font-weight:bold;
    font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    text-align:right;
    animation: shadowing 2s ease-in 0s 1 normal; 
    animation-delay:1s;
    opacity:0;
}

.strokeme {
    color: #F56E51;
    display:inline-block;
    font-weight:bold;
    font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    Font-size: 100px;
    position:relative;
}

.strokemechild{
    color:#fff;
    position:absolute;
    left :0px;
    top:0px;
    Font-size: 100px;
    font-weight:300;
}

